<html xmlns:th="http://www.thymeleaf.org">

<head>
	<block th:replace="~{include/top}"></block>
	<link type="text/css" rel="stylesheet" href="/css/list.css" />
	<link type="text/css" rel="stylesheet" href="/css/input.css" />
	<link type="text/css" rel="stylesheet" href="/css/page.css" />
</head>

<section class="main">
<br />

<br />
<div th:if="${m == null}" style="width:600px;margin:180px;display:flex;justify-content:center;align-items:center;height:20vh;">
    <h5>주문 내역이 없습니다.</h5>
</div>

<div th:if="${m != null}" style="width:600px;margin:auto;">
<h2 align="center">
예약 내역
</h2><br />

<form name="reserveF">
<input type="hidden" name="rno" th:value="${m.rno}" />
<input type="hidden" name="rstatus" th:value="예약취소" />

<table class="type09" style="width:500px;">
	<tr><th scope="cols" style="width:25%;">예약번호</th>
		<td>[[${m.rno}]]</td></tr>
	<tr><th scope="cols">예약상태</th>
		<th scope="row">[[${m.rstatus}]]</th></tr>
	<tr><th scope="cols">골프장명</th>
		<td>[[${m.golfcourseNm}]]</td></tr>
	<tr><th scope="cols">코스정보</th>
		<td>[[${m.courseNm}]] / [[${m.courseHole}]]홀</td></tr>
	<tr><th scope="cols">라운드정보</th>
		<td>[[${m.roundDate}]] / [[${m.roundTime}]]시</td></tr>
	<tr><th scope="cols">예약자정보</th>
		<td>[[${m.rname}]]님 / 연락처 : [[${m.rphone}]]</td></tr>
	<tr><th scope="cols">주문수량</th>
		<td>[[${m.amount}]]</td></tr>
	<tr><th scope="cols">예약인원</th>
		<td>[[${m.rpeople}]]</td></tr>
	<tr><th scope="cols">요청사항</th>
		<td>[[${m.reqComm}]]</td></tr>
	<tr><th scope="cols">정상요금</th>
		<td id="regularPrice">[[${m.regularPrice}]] 원</td></tr>
	<tr><th scope="cols">결제요금</th>
		<td id="salePrice">[[${m.salePrice.intValue()}]] 원</td></tr>	
</table><br />

<div style="display:flex;justify-content:center;margin:20px;">
<span th:if="${m.rstatus != '예약취소'}">
<input type="submit" value="예약취소" th:onClick="funcU()" />
</span>
</div>
</form>

</div>

<br />
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function funcU() {
	/*
	var rno = reserveF.rno.value;
	var rstatus = reserveF.rstatus.value;
	location.href = "/golf/reserve/update?rno="+rno+"&rstatus="+rstatus;
	*/
	reserveF.action = "/golf/reserve/update";
}
</script>

<script>
document.getElementById('regularPrice').innerText = 
    parseInt(document.getElementById('regularPrice').innerText.replace(' 원', '')).toLocaleString() + ' 원';
document.getElementById('salePrice').innerText = 
    parseInt(document.getElementById('salePrice').innerText.replace(' 원', '')).toLocaleString() + ' 원';
</script>

<div th:replace="~{include/bottom}"></div>