@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.slider {
  width: 800px; /* 슬라이더의 너비 */
  height: 310px; /* 슬라이더의 높이 */
  overflow: hidden; /* 이미지가 박스 바깥으로 나가지 않도록 함 */
  position: relative; /* 슬라이드 위치 조정을 위함 */
}

.slides {
  width: 100%; /* 부모 요소와 동일한 너비 */
  height: 100%; /* 부모 요소와 동일한 높이 */
  display: flex; /* 이미지를 가로로 나열 */
  transition: transform 1.0s ease-in-out; /* 부드러운 전환 효과 */
}

.slides img {
  width: 100%; /* 슬라이더 너비에 맞게 조정 */
  height: 310px; /* 슬라이더 높이에 맞게 조정 */
  object-fit: cover; /* 이미지가 박스에 꽉 차도록 조정하되, 비율 유지 */
}

/* 좌우 버튼 스타일링 */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}
.slider-button.left {
  left: 10px;
}
.slider-button.right {
  right: 10px;
}
/* 인디케이터 스타일링 */
.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.indicator.active {
  background-color: white;
}