<html xmlns:th="http://www.thymeleaf.org">

<head>
	<block th:replace="~{include/top}"></block>
	<link type="text/css" rel="stylesheet" href="/css/list.css" />
	<link type="text/css" rel="stylesheet" href="/css/input.css" />
</head>

<section class="main">
<br /><br /><br />

<div style="display:flex;justify-content:center;margin:20px;">
<h2>골프장 상품 상세</h2>
</div><br />

<form name="f1" method="post">
<input type="hidden" name="pno" th:value="${m.pno}" />
<input type="hidden" name="gno" th:value="${m.gno}" />
<table class="type09" style="width:600px;">
	<tr><th scope="cols" style="width:25%;">골프장명</th>
		<td th:text="'['+${m.usertype}+'] '+${m.golfcourseNm}" style="width:350px;"></td></tr>
	<tr><th scope="cols">주소</th>
		<td th:text="'['+${m.region}+'] '+${m.glocation}"></td></tr>
	<tr><th scope="cols">풀홀수</th>
		<td>[[${m.holeNo}]]</td></tr>
	<tr><th scope="cols">코스홀수</th>
		<td><input type="number" name="courseHole" th:value="${m.courseHole}" style="width:30%;" /></td></tr>
	<tr><th scope="cols">정상요금(평일)</th>
		<td><input type="number" name="regPrice" id="regPrice" 
				   th:value="${m.regPrice}"   
				   style="width:30%;" /></td></tr>
	<tr><th scope="cols">정상요금(주말)</th>
		<td><input type="text" name="regPrice_wknd" id="regPrice_wknd" 
				   th:value="${m.regPrice_wknd}"  
				   style="width:30%;" /></td></tr>
</table>

<div style="display:flex;justify-content:center;margin:20px;">
<input type="submit" value="수정하기" onClick="func('U')" />&nbsp;
<input type="button" value="코스등록하기" onClick="func('I')" />
</div>
</form>

<br />	
</section>

<script>
function func(str) {
	if (str == 'U') {
		f1.action = "/golf/product/update";
	} else if (str == 'I') {
		var gno = f1.gno.value;
		var pno = f1.pno.value;
		alert(pno);
		location.href = "/golf/course/form?gno="+gno+"&pno="+pno;
	}
} 
</script>

<div th:replace="~{include/bottom}"></div>
